
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.8)),url(../assets/skullBackground.jpg);
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}


h1 {
    font-family: 'Eater', cursive;
    text-align: center;
    color: #11f311;
    background: black;
    font-size: 42px;
    height: 100px;
    letter-spacing: 10px;
    margin-bottom: 15px;
}

.searchBar {
    display: flex;
    justify-content: space-evenly;
    background: white;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 20px;

    label {
        padding-right: 15px;
    }
}

.movieBox {
    background: white;
    width: 185px;
    margin: 5px;

    .movieBoxDescription {
        padding: 10px;
    }

    h3 {
        margin-top: 0px;
    }

    p {
        font-size: 12px;
        padding: 5px;
    }
}

.movieGallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}